.products-container{
    max-width: 100%;
    margin: 5px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.products-container .product-left{
    width: 85%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.product-left .image-div{
    width: auto;
    margin: 5px;
}
#div1{
    border-top-left-radius: 30px;
}
#div2{
    border-top-right-radius: 30px;
}
#div3{
    border-bottom-left-radius: 30px;
}
#div4{
    border-bottom-right-radius: 30px;
}
.image-div img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.product-right button{
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 7px;
    border: none;
    outline: none;
    background-color: #9640e8;
    color: white;
    font-weight: 500;
    font-size: 14px;
    transition: all 0.5s ease-out;
}
.product-right button:hover{
    background-color: #212121;
}
.product-right h2{
    font-size: 2vw;
    margin-top: 15px;
}
.product-right h4{
    font-size: 1.5vw;
    color: #0f48ce;
    margin-top: 15px;
}
.product-right p{
    font-size: 1.5vw;
    margin-top: 10px;
    font-weight: 600;
}
.color{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 35%;
    height: 10vh;
    margin-top: 10px;
}
.color .color1{
    width: 30%;
    height: 7vh;
    border-radius: 50%;
    background-color: #253043;
}
.color .color2{
    width: 30%;
    height: 7vh;
    border-radius: 50%;
    background-color: #707E6E;
}
.size{
    width: 100%;
    padding: 20px;
    margin-top: 10px;
    margin-left: -15px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
.size .size-num{
    border: 2px solid black;
    text-align: center;
    padding: 10px;
    font-size: 1.2rem;
    margin: 10px;
    border-radius: 10px;
}
.button-div{
    margin-top: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.button-div .cart{
    background-color: #253043;
    padding: 10px 150px;
    width: 100%;
    border: 1px solid black;
}
.button-div .like{
    background-color: #253043;
    margin-left: 4px;
    padding: 7px 15px;
    font-size: 1.3vw;
}
.buy{
    margin-left: 25px;
    width: 90%;
    padding: 20px;
}
.product-data{
    margin-top: 20px;
    padding: 10px 20px;
    color: #2f302f;
}
.product-data ul li{
    font-size: 1.15rem;
    margin: 5px 10px;
    list-style: circle;
    margin-top: 10px;
}