.cards{
    max-width: 100%;
    margin: 50px 30px;
}
.card-head{
    padding: 10px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card-head h2{
    font-size: 4vw;
    font-weight: 800;
}
.card-head button{
    padding: 15px 25px;
    margin-top: 60px;
    border-radius: 7px;
    border: none;
    outline: none;
    background-color: #9640e8;
    color: white;
    font-weight: 500;
    font-size: 14px;
    transition: all 0.5s ease-out;
}
.card-head button:hover{
    background-color: #212121;
}
.cards .card-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 100%;
    gap: 20px;
}
.card-container .card{
    width: auto;
    height: 70vh;
    padding: 10px;
}
.card .card-image{
    width: 100%;
}
.card-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}
.card .card-title{
    margin-top: 20px;
    font-size: 16px;
}
.card .card-price{
    margin-top: 30px;
    text-align: center;
    background-color: #212121;
    padding: 10px;
    text-decoration: none;
    border-radius: 10px;
    color: white;
    font-size: 13px;
    cursor: pointer;
}
.card-price span{
    color: goldenrod;
}